*, html {
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", "Comic Sans", "Chalkboard SE", "Comic Neue", sans-serif;
  color: white;
}

.App {
  text-align: center;
  background-color: black;
  background-image: url(bro.jpg);
  background-size: 100% 100%;
}

.App-logo {
  height: 40vmin; 
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.MessageComponent {
  height: 90vh;
  overflow-y: scroll;
}

.Message {
  padding: 10px;
  height: 25px;
}

.RecievedMessage {
  background-color: black;
  margin-left: 5%;
  width: 50px;
  border-radius: 10px;
  padding: 10px;
  float: left;
}

.SentMessage {
  background-color: gold;
  margin-right: 5%;
  width: 50px;
  border-radius: 10px;
  padding: 10px;
  float: right;
}

.BroComponent {
  height: 10vh;
}

.BroButton {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: gold;

  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    cursor: pointer;
}